{% extends "base.html" %}

{% block content %}
    <h1>Add a tłit (max. 200 charachters)</h1>
    <div class="new_tweet">
        <form action="{% url 'add' %}" method="post" id = "addtweetform">
            {% csrf_token %}
            <textarea form="addtweetform" name="tweet_text" maxlength="200"></textarea>
            <input type="submit" value="Add a tweet" />
        </form>
    </div>
{% endblock %}