{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>{% block title %}MyTwitter{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <a href="{% url 'home' %}"><img src="{% static 'twitter/images/logo.png' %}" alt="LOGO"></a>
        {% if user.is_authenticated %}
        <nav>
            <p>
                Logged in as
                <a href="{% url 'user' user %}">{{ user.get_full_name }} ({{ user.username }})</a><br>
                <a href="{% url 'friends' %}">Friends</a><br>
                <a href="{% url 'preferences' %}">Preferences</a><br>
                <a href="{% url 'logout' %}">Log out</a>
            </p>
        </nav>
        {% else %}
        <nav>
            <p>
                <a href="{% url 'login' %}">Log in</a><br>
                <a href="{% url 'register' %}">Register</a>
            </p>
        </nav>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>