{% extends "base.html" %}

{% block content %}
    <div class="tweet">
        <div class="tweet_published">
            <a href="{% url 'user' tweet.author %}" class="tweet_authorbox">
                    <table>
                    <tr><td valign="top"><name>{{ tweet.author.get_full_name }}</name></td></tr>
                    <tr><td valign="bottom"><user>@{{ tweet.author.username }}</user></td></tr>
                </table>
            </a>
            <date>{{ tweet.pub_date }}</date>
        </div>
        <div class="tweet_textbox">
            <a href="{% url 'details' tweet.id %}"><textarea disabled>{{ tweet.tweet_text }}</textarea></a>
        </div>
    </div>
{% endblock %}