{% extends "base.html" %}

{% block content %}
    {% if following %}
        <p>You are now following <a href="{% url 'user' followed_user %}">@{{ followed_user.username }}</a>. You may <a href="{% url 'change_follow' 'unfollow' followed_user.username %}">unfollow</a> if you wish.</p>
    {% else %}
        <p>You succesfully unfollowed <a href="{% url 'user' followed_user %}">@{{ followed_user.username }}</a>.</p>
    {% endif %}
{% endblock %}