{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Friends tłits</h1>

        <div class="followers">
            <h4>Following: {{ following_counter }}</h4>
            {% for follower in following_list %}
                <p><a href="{% url 'user' follower.user %}">@{{ follower.user.username }}</a></p>
            {% endfor %}
        </div>

        <div class="tweets_column">
            {% if latest_friends_tweets_list %}
                {% for tweet in latest_friends_tweets_list %}
                    <div class="tweet">
                        <div class="tweet_published">
                            <a href="{% url 'user' tweet.author %}" class="tweet_authorbox">
                                <table>
                                    <tr><td valign="top"><name>{{ tweet.author.get_full_name }}</name></td></tr>
                                    <tr><td valign="bottom"><user>@{{ tweet.author.username }}</user></td></tr>
                                </table>
                            </a>
                            <date>{{ tweet.pub_date }}</date>
                        </div>
                        <div class="tweet_textbox">
                            <a href="{% url 'details' tweet.id %}"><textarea disabled>{{ tweet.tweet_text }}</textarea></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No tweets are available.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}