{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Add a tłit (max. 200 charachters)</h1>
        <div class="new_tweet">
            <form action="{% url 'add' %}" method="post" id = "addtweetform">
                {% csrf_token %}
                <textarea form="addtweetform" id="tweet_txt" name = "tweet_text" maxlength="200"></textarea>
                <input type="submit" value="Add a tweet" />
            </form>
        </div>
    {% else %}
        <h1>You have to <a href="{% url 'login' %}">log in</a> to add your tłits.</h1>
    {% endif %}

    <script>
    $("#addtweetform").bind("submit", function(e) {
        function reverse(s) {
            return s.split("").reverse().join("");
        }
        $("#tweet_txt").val(reverse($("#tweet_txt").val()));

        $.ajax({
            url: '/ajax/tlitts_count/',
            dataType: 'json',
            success: function (data) {
                alert("You submitted " + (data.counter + 1) + " tweets.")
            }
        });
    });
    </script>

    <div class="tweets_column">
        <h1>Latest tłits</h1>
        {% if latest_tweets_list %}
            {% for tweet in latest_tweets_list %}
                <div class="tweet">
                    <div class="tweet_published">
                        <a href="{% url 'user' tweet.author %}" class="tweet_authorbox">
                            <table>
                                <tr><td valign="top"><name>{{ tweet.author.get_full_name }}</name></td></tr>
                                <tr><td valign="bottom"><user>@{{ tweet.author.username }}</user></td></tr>
                            </table>
                        </a>
                        <date>{{ tweet.pub_date }}</date>
                    </div>
                    <div class="tweet_textbox">
                        <a href="{% url 'details' tweet.id %}"><textarea disabled>{{ tweet.tweet_text }}</textarea></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No tweets are available.</p>
        {% endif %}
    </div>
{% endblock %}