{% extends "base.html" %}

{% block title %}Preferences{% endblock %}

{% block content %}
    <h2>Edit profile</h2>
    <form method="post" action="{% url 'preferences' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% endblock %}