{% extends "base.html" %}

{% block content %}
    <h1>{{ account.get_full_name }} (@{{ account.username }})</h1>

    {% if user.is_authenticated and user.pk != account.pk %}
        {% if am_i_following %}
            <a href="{% url 'change_follow' 'unfollow' account %}"><h3>Unfollow</h3></a>
        {% else %}
            <a href="{% url 'change_follow' 'follow' account %}"><h3>Follow</h3></a>
        {% endif %}
    {% endif %}

    <div class="followers">
        <h4>Followers: {{ followers_counter }}</h4>
        {% for follower in followers_list %}
            <p><a href="{% url 'user' follower.user %}">@{{ follower.user.username }}</a></p>
        {% endfor %}
    </div>

    {% if user_tweets_list %}
        {% for tweet in user_tweets_list %}
            <div class="tweet">
                <div class="tweet_published">
                    <a href="{% url 'user' tweet.author %}" class="tweet_authorbox">
                         <table>
                            <tr><td valign="top"><name>{{ tweet.author.get_full_name }}</name></td></tr>
                            <tr><td valign="bottom"><user>@{{ tweet.author.username }}</user></td></tr>
                        </table>
                    </a>
                    <date>{{ tweet.pub_date }}</date>
                </div>
                <div class="tweet_textbox">
                    <a href="{% url 'details' tweet.id %}"><textarea disabled>{{ tweet.tweet_text }}</textarea></a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}