{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Registration</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register" />
    </form>
{% endblock %}