* {
    text-decoration: none;
}

nav {
    float: right;
    text-align: right;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 40px;
}

h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.tweets_column p {
    text-align: center;
    font-size: 20px;
}

.new_tweet {
    display: block;
    width: 800px;
    height: 220px;
    border: 3px solid blue;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

.new_tweet textarea {
    width: 100%;
    height: 80%;
    border: 0;
    font-size: 20px;
}

.new_tweet input[type=submit] {
    float: right;
    width: 20%;
    height: 20%;
    font-size: 20px;
}

.tweet {
    display: table;
    width: 800px;
    height: 220px;
    border: 3px solid black;
    margin-left: 28%;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px 5px;
}

.tweet_published {
    display: block;
    width: 100%;
    height: 20%;
    font-size: 20px;
    color: black;
}

.tweet_authorbox {
    display: inline-block;
    height: 100%;
}

.tweet_authorbox name {
    float: top;
    font-size: 20px;
    color: black;
}

.tweet_authorbox user {
    float: bottom;
    font-size: 15px;
    color: #4d4d4d;
}

.tweet_published date {
    display: inline-block;
    float: right;
    height: 100%;
    font-size: 15px;
    color: grey;
    text-align: right;
}

.tweet_textbox {
    display: block;
    width: 100%;
    height: 80%;
    color: black;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.tweet_textbox textarea {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 20px;
    color: black;
}

.followers {
    float: left;
    width: 20%;
}

.followers h4{
    width: 100%;
    text-align: left;
    font-size: 25px;
}

.followers p {
    font-size: 20px;
}
